/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$case-name: 'case';
$case-x: 0px;
$case-y: 12px;
$case-offset-x: 0px;
$case-offset-y: -12px;
$case-width: 21px;
$case-height: 19px;
$case-total-width: 76px;
$case-total-height: 532px;
$case-image: 'sprite.png';
$case: (0px, 12px, 0px, -12px, 21px, 19px, 76px, 532px, 'sprite.png', 'case', );
$fb-h-name: 'fb-h';
$fb-h-x: 0px;
$fb-h-y: 212px;
$fb-h-offset-x: 0px;
$fb-h-offset-y: -212px;
$fb-h-width: 40px;
$fb-h-height: 40px;
$fb-h-total-width: 76px;
$fb-h-total-height: 532px;
$fb-h-image: 'sprite.png';
$fb-h: (0px, 212px, 0px, -212px, 40px, 40px, 76px, 532px, 'sprite.png', 'fb-h', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 332px;
$fb-offset-x: 0px;
$fb-offset-y: -332px;
$fb-width: 40px;
$fb-height: 40px;
$fb-total-width: 76px;
$fb-total-height: 532px;
$fb-image: 'sprite.png';
$fb: (0px, 332px, 0px, -332px, 40px, 40px, 76px, 532px, 'sprite.png', 'fb', );
$file-name: 'file';
$file-x: 0px;
$file-y: 70px;
$file-offset-x: 0px;
$file-offset-y: -70px;
$file-width: 15px;
$file-height: 20px;
$file-total-width: 76px;
$file-total-height: 532px;
$file-image: 'sprite.png';
$file: (0px, 70px, 0px, -70px, 15px, 20px, 76px, 532px, 'sprite.png', 'file', );
$gh-h-name: 'gh-h';
$gh-h-x: 0px;
$gh-h-y: 292px;
$gh-h-offset-x: 0px;
$gh-h-offset-y: -292px;
$gh-h-width: 40px;
$gh-h-height: 40px;
$gh-h-total-width: 76px;
$gh-h-total-height: 532px;
$gh-h-image: 'sprite.png';
$gh-h: (0px, 292px, 0px, -292px, 40px, 40px, 76px, 532px, 'sprite.png', 'gh-h', );
$gh-name: 'gh';
$gh-x: 0px;
$gh-y: 252px;
$gh-offset-x: 0px;
$gh-offset-y: -252px;
$gh-width: 40px;
$gh-height: 40px;
$gh-total-width: 76px;
$gh-total-height: 532px;
$gh-image: 'sprite.png';
$gh: (0px, 252px, 0px, -252px, 40px, 40px, 76px, 532px, 'sprite.png', 'gh', );
$hat-name: 'hat';
$hat-x: 0px;
$hat-y: 31px;
$hat-offset-x: 0px;
$hat-offset-y: -31px;
$hat-width: 27px;
$hat-height: 19px;
$hat-total-width: 76px;
$hat-total-height: 532px;
$hat-image: 'sprite.png';
$hat: (0px, 31px, 0px, -31px, 27px, 19px, 76px, 532px, 'sprite.png', 'hat', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 0px;
$mail-offset-x: 0px;
$mail-offset-y: 0px;
$mail-width: 16px;
$mail-height: 12px;
$mail-total-width: 76px;
$mail-total-height: 532px;
$mail-image: 'sprite.png';
$mail: (0px, 0px, 0px, 0px, 16px, 12px, 76px, 532px, 'sprite.png', 'mail', );
$pen-name: 'pen';
$pen-x: 0px;
$pen-y: 191px;
$pen-offset-x: 0px;
$pen-offset-y: -191px;
$pen-width: 21px;
$pen-height: 21px;
$pen-total-width: 76px;
$pen-total-height: 532px;
$pen-image: 'sprite.png';
$pen: (0px, 191px, 0px, -191px, 21px, 21px, 76px, 532px, 'sprite.png', 'pen', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 170px;
$phone-offset-x: 0px;
$phone-offset-y: -170px;
$phone-width: 16px;
$phone-height: 21px;
$phone-total-width: 76px;
$phone-total-height: 532px;
$phone-image: 'sprite.png';
$phone: (0px, 170px, 0px, -170px, 16px, 21px, 76px, 532px, 'sprite.png', 'phone', );
$photo-name: 'photo';
$photo-x: 0px;
$photo-y: 150px;
$photo-offset-x: 0px;
$photo-offset-y: -150px;
$photo-width: 20px;
$photo-height: 20px;
$photo-total-width: 76px;
$photo-total-height: 532px;
$photo-image: 'sprite.png';
$photo: (0px, 150px, 0px, -150px, 20px, 20px, 76px, 532px, 'sprite.png', 'photo', );
$skill-1-name: 'skill-1';
$skill-1-x: 0px;
$skill-1-y: 130px;
$skill-1-offset-x: 0px;
$skill-1-offset-y: -130px;
$skill-1-width: 43px;
$skill-1-height: 20px;
$skill-1-total-width: 76px;
$skill-1-total-height: 532px;
$skill-1-image: 'sprite.png';
$skill-1: (0px, 130px, 0px, -130px, 43px, 20px, 76px, 532px, 'sprite.png', 'skill-1', );
$skill-2-name: 'skill-2';
$skill-2-x: 0px;
$skill-2-y: 110px;
$skill-2-offset-x: 0px;
$skill-2-offset-y: -110px;
$skill-2-width: 48px;
$skill-2-height: 20px;
$skill-2-total-width: 76px;
$skill-2-total-height: 532px;
$skill-2-image: 'sprite.png';
$skill-2: (0px, 110px, 0px, -110px, 48px, 20px, 76px, 532px, 'sprite.png', 'skill-2', );
$skill-3-name: 'skill-3';
$skill-3-x: 0px;
$skill-3-y: 90px;
$skill-3-offset-x: 0px;
$skill-3-offset-y: -90px;
$skill-3-width: 68px;
$skill-3-height: 20px;
$skill-3-total-width: 76px;
$skill-3-total-height: 532px;
$skill-3-image: 'sprite.png';
$skill-3: (0px, 90px, 0px, -90px, 68px, 20px, 76px, 532px, 'sprite.png', 'skill-3', );
$skill-4-name: 'skill-4';
$skill-4-x: 0px;
$skill-4-y: 50px;
$skill-4-offset-x: 0px;
$skill-4-offset-y: -50px;
$skill-4-width: 76px;
$skill-4-height: 20px;
$skill-4-total-width: 76px;
$skill-4-total-height: 532px;
$skill-4-image: 'sprite.png';
$skill-4: (0px, 50px, 0px, -50px, 76px, 20px, 76px, 532px, 'sprite.png', 'skill-4', );
$tw-h-name: 'tw-h';
$tw-h-x: 0px;
$tw-h-y: 372px;
$tw-h-offset-x: 0px;
$tw-h-offset-y: -372px;
$tw-h-width: 40px;
$tw-h-height: 40px;
$tw-h-total-width: 76px;
$tw-h-total-height: 532px;
$tw-h-image: 'sprite.png';
$tw-h: (0px, 372px, 0px, -372px, 40px, 40px, 76px, 532px, 'sprite.png', 'tw-h', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 412px;
$tw-offset-x: 0px;
$tw-offset-y: -412px;
$tw-width: 40px;
$tw-height: 40px;
$tw-total-width: 76px;
$tw-total-height: 532px;
$tw-image: 'sprite.png';
$tw: (0px, 412px, 0px, -412px, 40px, 40px, 76px, 532px, 'sprite.png', 'tw', );
$vk-h-name: 'vk-h';
$vk-h-x: 0px;
$vk-h-y: 452px;
$vk-h-offset-x: 0px;
$vk-h-offset-y: -452px;
$vk-h-width: 40px;
$vk-h-height: 40px;
$vk-h-total-width: 76px;
$vk-h-total-height: 532px;
$vk-h-image: 'sprite.png';
$vk-h: (0px, 452px, 0px, -452px, 40px, 40px, 76px, 532px, 'sprite.png', 'vk-h', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 492px;
$vk-offset-x: 0px;
$vk-offset-y: -492px;
$vk-width: 40px;
$vk-height: 40px;
$vk-total-width: 76px;
$vk-total-height: 532px;
$vk-image: 'sprite.png';
$vk: (0px, 492px, 0px, -492px, 40px, 40px, 76px, 532px, 'sprite.png', 'vk', );
$spritesheet-width: 76px;
$spritesheet-height: 532px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($case, $fb-h, $fb, $file, $gh-h, $gh, $hat, $mail, $pen, $phone, $photo, $skill-1, $skill-2, $skill-3, $skill-4, $tw-h, $tw, $vk-h, $vk, );
$spritesheet: (76px, 532px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/icon/sprites/##{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
