//URL relative to the style.css
$ffOL: 'OpenSansLight', Arial, sans-serif;
$ffOLI: 'OpenSansLightItalic', Arial, sans-serif;
$ffOR: 'OpenSansRegular', Arial, sans-serif;
$ffORI: 'OpenSansRegularItalic', Arial, sans-serif;
$ffOSb: 'OpenSansSemibold', Arial, sans-serif;
$ffOSbI: 'OpenSansSemiboldItalic', Arial, sans-serif;
$ffOB: 'OpenSansLightBold', Arial, sans-serif;
$ffOBI: 'OpenSansLightBoldItalic', Arial, sans-serif;
$ffOEb: 'OpenSansExtraBold', Arial, sans-serif;
$ffOEbI: 'OpenSansExtraBoldItalic', Arial, sans-serif;
$grey: #333;
$green: #89c238;
$red: #ff3801;