.social {
  margin-top: 15px;
  float: right;

  &__item {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: (50%);

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    
    &-fb {
      @include sprite($fb);

      &:hover {
        text-decoration: none;
        @include sprite($fb-h);
      }
    }

    &-vk {
      @include sprite($vk);

      &:hover {
        text-decoration: none;
        @include sprite($vk-h);
      }
    }

    &-tw {
      @include sprite($tw);

      &:hover {
        text-decoration: none;
        @include sprite($tw-h);
      }
    }

    &-gh {
      @include sprite($gh);

      &:hover {
        text-decoration: none;
        @include sprite($gh-h);
      }
    }
  }
}