.container {
  width: 960px;
  margin: 0 auto;
  @include clr;
}

@media only screen and (max-width : 960px) {
  .container {
    width: 100%;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.heading-wrap {
  height: 56px;
  background-color: #727070;
  background: linear-gradient(to top, #7b7878 0%, #7b7878 0%, #a9a8a8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7878', endColorstr='#a9a8a8',GradientType=0 ); /* IE6-9 */
  border: 1px solid #c3c2c2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 0 0;
}

.heading {
  margin-left: 41px;
  font: 2em/51px $ffOSb;
  color: #eeedec;
  text-shadow: 0 1px 0 #666565;
}

.title {
  font: 400 14px/20px $ffOR;
  color: #333;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}